/* TODO EL DOC */
#fondo {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: rgb(97, 97, 97);
    font-weight: 400;
    font-style: normal;
    background-image: url("img/contacto.png");
}


/* BARRA DE NAVEGACIÓN */
#contenedor{
    background-color: white;
}

#sticky{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    align-items: center;
    color: rgb(97, 97, 97);
}
.container-fluid {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.nav-item a{
    display: block;
    margin: 0px 15px;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    color: rgb(97, 97, 97);
}

.nav-item a:hover {
    text-decoration:underline;
}


#logo img{
    width:100px;
    height:70%;
}

#carrito img {
    height: 80px;
}
#usuario img {
    height: 80px;
}

/*MENU DESPLEGABLE*/
.offcanvas-start {
    width: 250px; 
    background-color: white; 
}

@media (max-width:640px){
    #hamburguesa {order: 0;}
    #logo {order: 1;}
    #usuario {order: 2;}
    #carrito {order: 3;}
    #navbarSupportedContent {order: 4;}

    #logo, #usuario, #carrito {
        margin: 0 5px;
    }

    .container-fluid {
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media (min-width:641px){
    #hamburguesa {order: 0;} 
    #logo {order: 0;}
    #navbarSupportedContent {order: 1;}
    #usuario {order: 2;}
    #carrito {order: 3;}

    .container-fluid {
        justify-content: space-between;
    }

}

#hamburguesa{
    border:0px;
}

#hamburguesa:focus{
    outline: none;
    box-shadow: none;
}

/*CARRITO DESPLEGABLE*/
.offcanvas-end {
    width: 250px;
}

#botonCarrito{
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border: none;
}
#imagenCarrito{
    height: 80px
}

#carritoOffcanvas{
    background-color: rgb(255, 255, 255);
    z-index: 10000000;
}

#total{
    display:flex;
    flex-direction: row;
    width: 100%;
    gap: 200px;
}

.botonDisminuir, .botonAumentar{
    outline: none;
    box-shadow: none;
    border-radius: 4px;
    background-color: rgb(204, 238, 255);
    width: 50px;
    height: 30px;
    border: none;
}
.botonAumentar:hover, .botonDisminuir:hover{
    background-color: rgb(156, 222, 255);
    font-size: 20px;
}

.botonesProducto p{
    width: 60%;
    margin-top: 15px;
}
.botonesProducto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#botonPagar, #botonEliminarTodos{
    outline: none;
    box-shadow: none;
    border-radius: 4px;
    width: 140px;
    height: 30px;
    border: none;
}

#contenedorBotonesEdicion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#botonEliminarTodos{
    background-color: rgb(255, 219, 219);
}
#botonPagar{
    background-color: rgb(235, 255, 228);
}
#botonEliminarTodos:hover{
    background-color: rgb(255, 159, 159);
    font-size: 16.5px;
}
#botonPagar:hover{
    background-color: rgb(190, 255, 167);
    font-size: 16.5px;
}


/*Fomulario*/
#contacto h2{
    text-align: center;
}

#contacto{
    display: flex;
    flex-direction: column;       
    align-items: center;  
    height: 68vh;  
    width: 60vh;          
    padding: 30px;
    margin-top: 30px;
    width:70%;
    background-color: rgba(255, 255, 255, 0.895);
    color: rgb(107, 107, 107);
    border-radius: 2%;
    }

@media (max-width:640px){
    #contacto{
    margin-left: 16%;    
    }

}

@media (min-width:641px){
    #contacto{
    margin-left: 16%;
    }
}


#contacto input {
    border: 1px solid #ccc; 
    border-radius: 5px;
    outline: none;
    background-color: rgb(247, 247, 247);
    color: rgb(107, 107, 107);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

#asunto{
    border: 1px solid #ccc; 
    border-radius: 5px;
    outline: none;
    background-color: rgb(247, 247, 247);
    color: rgb(107, 107, 107);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

#botonEnviar{
    color:rgba(86, 86, 86, 0.9);
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border-color: white;
}

/*MENSAJE DE EXITO*/
#mensaje {
    position: fixed;
    top: 100px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    background-color: #d4edda; 
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    padding: 10px 20px;
}