/* TODO EL DOC */
#fondo {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color: rgb(97, 97, 97);
    font-weight: 400;
    font-style: normal;
    background-color: #f0f0f0;
}


/* BARRA DE NAVEGACIÓN */
#contenedor{
    background-color: white;
}

#sticky{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.navbar ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    align-items: center;
    color: rgb(97, 97, 97);
}
.container-fluid {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.nav-item a{
    display: block;
    margin: 0px 15px;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    color: rgb(97, 97, 97);
}

.nav-item a:hover {
    text-decoration:underline;
}


#logo img{
    width:100px;
    height:70%;
}

#carrito img {
    height: 80px;
}
#usuario img {
    height: 80px;
}

/*MENU DESPLEGABLE*/
.offcanvas-start {
    width: 250px; 
    background-color: white; 
}

@media (max-width:640px){
    #hamburguesa { order: 0; }
    #logo { order: 1; }
    #usuario { order: 2; }
    #carrito { order: 3; }
    #navbarSupportedContent { order: 4; }

    #logo, #usuario, #carrito {
        margin: 0 5px;
    }

    .container-fluid {
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media (min-width:641px){
    #hamburguesa { order: 0; } 
    #logo { order: 0; }
    #navbarSupportedContent { order: 1; }
    #usuario { order: 2; }
    #carrito { order: 3; }

    .container-fluid {
        justify-content: space-between;
    }

}

#hamburguesa{
    border:0px;
}

#hamburguesa:focus{
    outline: none;
    box-shadow: none;
}

/* PORTADA DE LA PÁGINA WEB*/
#portada {
    overflow: hidden;
    height: 100%;
}

@media (max-width:640px){
    #portadaCelu {
        display: block;
        width: 300%;
        margin-left: -15%;
    }
    #portadaCompu {
        display: none;
    }

}


@media (min-width:641px){
    #portadaCelu {
        display: none;
    }
    #portadaCompu {
        display: block;
        width: 100%;
    }
}
/*USUARIO*/
#contenedorUsuario {
    display:flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(244, 244, 244, 0.918);
    align-items:flex-start;
    padding: 15px; 
}

#texto {
    width: 60%;
    margin: 30px;
}

#imagen {
    width: 40%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-left: 0;
}

@media (max-width:640px){
    #celu {
        display: block;
        width: 300%;
        height:auto;
    }
    #compu {
        display: none;
    }
    #contenedorUsuario {
        flex-direction: column;
        overflow:hidden;
        margin:0;
        padding: 0;
    }
    #imagen {
        width: 200%;
        margin:0;
    }
}


@media (min-width:641px){
    #celu {
        display: none;
    }
    #compu {
        display: block;
        width:100%;
        height:auto;
    }
}

#contenedorUsuario h5 {
    font-family: "Poppins", sans-serif;
    color: rgb(97, 97, 97);
    font-weight: 600;
    font-size: 160%;
    text-align: center;
    font-style: normal;
}
#imagen img{
    width: 100%;
    height: auto;
}

#datos{
    margin-left:10%;
    text-decoration: underline;
}

#contenedorUsuario p {
    font-family: "Poppins", sans-serif;
    color: rgb(97, 97, 97);
    font-weight: 400;
    font-size: 100%;
    text-align: left;
    font-style: normal;
}

.datosUsuario{
    margin-left:20%;
}

#filaCerrarSesion{
    display: flex;
    justify-content: flex-end;
    width:100%;
}

#cerrarSesion {
    padding: 15px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    background-color: rgb(215, 104, 104);
    color: rgb(255, 255, 255);
    font-weight: 650;
}

.botones {
    padding: 8px 16px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    background-color: rgb(223, 223, 223);
    color: rgb(97, 97, 97);
    font-weight: 650;
    font-size: small;
}

.botones:hover {
    background-color: rgb(229, 223, 216);
}
#cerrarSesion:hover {
    background-color: rgb(227, 109, 109);;
}

#botonOcultar {
    display: none;
}

.campoContra {
    display:flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

/* SECCIÓN TE PODRÍA INTERESAR */

#contenedorProductos {
    padding: 30px;
    margin: 10px;
}

.sinborde{
    border:0px;
}

#fotos-inicio h1{
    font-family: "Poppins", sans-serif;
    color: rgb(97, 97, 97);
    font-weight: 600;
    font-size: 160%;
    text-align: center;
    font-style: normal;
}

#boton1, #boton2, #boton3, #boton4{
    background-color: #f0f0f0;
    border:0px;
    color: rgb(97, 97, 97);
}

@media (max-width:640px){
    .card{
        max-width: 60%;
        margin: 10px auto;
        text-align: center;
    }
    
}

@media (min-width:641px){
    .card{
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}